<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias type="org.tangxi.testcase.execution.model.TestCase" alias="TestCase"/>
        <typeAlias type="org.tangxi.testcase.execution.model.prePostAction.PrePostActionWrapper" alias="PrePostActionWrapper"/>
        <typeAlias type="org.tangxi.testcase.execution.model.prePostAction.PrePostActionSql" alias="PrePostActionSql"/>
        <typeAlias type="org.tangxi.testcase.execution.model.parameter.ParameterWrapper" alias="ParameterWrapper"/>
        <typeAlias type="org.tangxi.testcase.execution.model.parameter.ParameterSql" alias="ParameterSql"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/tplatform?characterEncoding=utf8"/>
                <property name="username" value="root"/>
                <property name="password" value="tx123456"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/TCaseMapper.xml"/>
        <mapper resource="mapper/PPostMapper.xml"/>
        <mapper resource="mapper/PMapper.xml"/>
    </mappers>
</configuration>