<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tangxi.testcase.execution.mapper.PMapper">
    <resultMap id="parameterWrapperResult" type="ParameterWrapper">
        <id property="id" column="parameter_wrapper_id"/>
        <result property="name" column="name"/>
        <result property="descs" column="descs"/>
        <result property="type" column="type"/>
        <association property="parameter" resultMap="parameterResultMap"/>
    </resultMap>

    <resultMap id="parameterResultMap" type="ParameterSql">
        <id property="id" column="parameter_sql_id"/>
        <result property="host" column="host"/>
        <result property="port" column="port"/>
        <result property="database" column="database"/>
        <result property="user" column="user"/>
        <result property="password" column="password"/>
        <result property="sql" column="sql"/>
        <result property="param" column="param"/>
        <result property="paramId" column="param_id"/>
    </resultMap>

    <select id="selectParameterWrapperByName" resultMap="parameterWrapperResult">
        SELECT
          zp.id as parameter_wrapper_id,
          zp.`name` as `name`,
          zp.descs as descs,
          zp.type as `type`,
          zpts.id as parameter_sql_id,
          zpts.host as host,
          zpts.port as port,
          zpts.`database` as `database`,
          zpts.`user` as `user`,
          zpts.password as password,
          zpts.`sql` as `sql`,
          zpts.param as param,
          zpts.param_id as param_id
        FROM zsi_parameter zp LEFT JOIN zsi_parameter_type_sql zpts ON zp.id = zpts.param_id
        WHERE zp.`name` = #{name}
    </select>
</mapper>