<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tangxi.testcase.execution.mapper.TCaseMapper">
    <resultMap id="testCaseMap" type="TestCase">
        <result column="pre_action_names" property="preActions" jdbcType="VARCHAR" javaType="java.util.List" typeHandler="org.tangxi.testcase.execution.handler.GenericTypeHandler"></result>
        <result column="check_points" property="checkPoints" jdbcType="VARCHAR" javaType="java.util.List" typeHandler="org.tangxi.testcase.execution.handler.CheckPointsTypeHandler"></result>
        <result column="post_action_names" property="postActions" jdbcType="VARCHAR" javaType="java.util.List" typeHandler="org.tangxi.testcase.execution.handler.GenericTypeHandler"></result>
    </resultMap>
    <select id="selectTestCaseById" resultType="TestCase" parameterType="Integer" resultMap="testCaseMap">
        SELECT * FROM zsi_test_case WHERE id = #{id}
    </select>

    <select id="getTestCasesByGroups" parameterType="String" resultMap="testCaseMap">
        SELECT * FROM zsi_test_case WHERE groups = #{groups}
    </select>

    <select id="getTestCasesBySuite" parameterType="String" resultMap="testCaseMap">
        SELECT * FROM zsi_test_case WHERE suite = #{suite}
    </select>
</mapper>