<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.tangxi.testcase.execution.mapper.TestCaseMapper">
    <select id="selectTestCaseById" resultType="org.tangxi.testcase.execution.model.TestCase" parameterType="Long">
        SELECT * FROM zsi_test_case WHERE id = #{id}
    </select>
</mapper>